html {
    font-family: 'Source Sans Pro', 'Open Sans', sans-serif;  
    font-size: 1.2em;
    font-weight: 300;
    margin: 0; 
    padding: 0; 
    text-align: justify;
}

a {
    color: #BEF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: circle;
}

ul {
    padding-left: 20px;
    margin: 0; 
}

body {
    background-image: url("background.png");
    background-size: cover; 
    background-attachment: fixed;
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
}

html, body {
    height: 100%;
    min-height: 100% !important;
}

div .container {
    width: 1000px;
    margin: auto; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.section {
    color: white;
    width: 100%;
    margin: 0; 
    padding: 0; 
    padding-top: 20px;
    padding-bottom: 40px;
}

#nav-mobile {
    display: none;
    position: fixed;
    background-color: #333;
    color: white; 
    padding: 0px 0px; 
    width: 100%; 
    z-index: 9999;
    text-align: right;
}

#nav-mobile a {
    color: white; 
    font-size: 1.4em;
    margin: 10px; 
}

#nav-mobile a:hover {
    text-decoration: none;
}

#nav-mobile li {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

#nav-mobile ul li span {
    display: inline-block; 
    padding: 0; 
    margin: 10px; 
}

#nav-mobile ul {
    padding: 0; 
    margin: 0; 
}

#nav-mobile ul li {
    padding: 0; 
    margin: 0; 
}

#nav-mobile ul ul {
    margin: 0; 
    padding: 0; 
    background-color: #666;
}

#nav-mobile-contents {
    display: none; 
    background-color: #666;
}

#nav {
    display: inline;
    position: fixed;
    background-color: #333;
    color: white; 
    padding: 10px 0px; 
    width: 100%; 
    z-index: 9999;
}

#nav .nav-container {
    width: auto;
    padding: 0 30px; 
    margin: auto; 
}

#nav ul {
    float: right; 
}

#nav li {
    display: inline-block; 
}

#nav span {
    display: block; 
    padding: 0px 0px 0 30px; 
}

#nav a {
    color: #CCC; 
    text-decoration: none;
    font-weight: 600;
}

#nav a:hover {
    color: white; 
}

#home {
    min-height: 100%;
    color: white;
    font-size: 2em;
    width: 100%;
    padding: 0; 
}

#about div div {
    margin-top: 3em;
    margin-bottom: 1em;
}

#about div div a {
    font: 'Source Sans Pro', 'Open Sans', sans-serif; 
    background-color: #3C8;
    color: black; 
    padding: 15px 32px; 
    border: none; 
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}

#about div div a:hover {
    background-color: #3C8;
}

#home .vcenter {
    margin: auto;
    /* padding: 10px;  */
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 25px; ;
}

#name {
    font-size: 1.5em;
}

#about {
    background-color: #444;
    color: white;
    min-height: 510px;
}

#about img {
    max-width: 395px; 
    max-height: auto; 
    float: left; 
    margin-right: 10px; 
}

#projects {
    background-color: #555;
}

#resume {
    background-color: #444;
    text-align: left;
}

.resume-right {
    float: right;
}

#contact {
    background-color: #555;
}

#footer {
    background-color: #444;
    text-align: center;
    padding-bottom: 20px;
}  

.preview-row {
    display: inline-block; 
}

.preview-row-left {
    float: left; 
}

.preview-row-right {
    float: right; 
    padding-left: 10px;
}

.preview-container {
    width: 100%;
    margin: 10px 0; 
    display: inline-block; 
    border-radius: 10px;
}

.preview-left {
    width: 150px;
    height: 150px; 
    margin: 0; 
    padding: 0; 
    float: left; 
}

.preview-right h2 {
    margin-top: 10px; 
}

.preview-right {
    width: 335px;
    min-height: 120px; 
    padding: 0; 
    float: right; 
    padding-left: 10px;
    font-size: 0.8em;
}

.preview-container > div > img {
    width: 100%; 
    height: 100%; 
    border-radius: 10px;
    /* border-radius: 10px 0 0 10px; */
}

.hcenter {
    text-align: center;
}

#contact img {
    width: 48px; 
    height: 48px; 
    margin: 16px; 
    filter: brightness(0) invert(1); 
}

.gray {
    color: #DDD; 
}

hr {
    margin: 0; 
    padding: 0; 
    margin-bottom: 1em;
    margin-top: 1em; 
}

hr.thick {
    height: 2px;
    border: 0;
    border-top: 2px solid #FFF;

    margin: 0; 
    padding: 0; 
    /* margin-bottom: 1em; */
    margin-top: 1.5em; 
} 

@media only screen and (max-width : 1050px) {

    div .container {
        width: auto;
        padding: 10px; 
    }

    .preview-row {
        display: block; 
    }
    
    .preview-row-left {
        float: none; 
    }
    
    .preview-row-right {
        float: none; 
        padding-left: 0;
    }

    .preview-left {
        width: 150px;
        height: 150px; 
        margin: 0; 
        padding: 0; 
        float: none; 
    }

    .preview-right {
        width: 100%;
        min-height: 0; 
        padding: 0; 
        margin-bottom: 10px;
        float: none; 
        padding-left: 0px;
        font-size: 0.8em;
        text-align: left;
    }

    .preview-right h2 {
        margin-bottom: 5px; 
    }

    #nav {
        display: none;
    }

    #nav-mobile {
        display: inline;
    }

    #about {
        text-align: left;
    }

    #about img {
        /* max-width: 100%; 
        max-height: 100%;  */
        float: none; 
        margin-left: 10px;
        margin-bottom: 1em;
    }

    #about p span {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex; 
    }

    .resume-right:before {
        content: ' '; 
        display: block; 
    }

    .resume-right {
        float: none; 
    }

}